In [308]:
print('vamsikrishna')#printing the data

vamsikrishna

In [309]:
"vamsikrishna"#direct text

'vamsikrishna'

In [310]:
#storing the data in s1 variable and then by using s1 identifier we are printing the data
s1="vamsikrishna"
s1

'vamsikrishna'

In [311]:
a=2
b=104
a+b#print the sum of two values in two different variabes

106

In [312]:
c=a+b
c#we are store the sum of two values in two different variables in another variable and printing it.

106

In [313]:
a=5
b='vamsikrishna'
type(b)#print the datatype of the data in b variable

str

In [314]:
print('i'm vamsirishna')#here we are getting error because of the ''.

SyntaxError: unterminated string literal (detected at line 1) (2117197177.py, line 1)

In [329]:
print('i\'m vamsikrishna') #to escape those type of errors by using bac slash '\'.

i'm vamsikrishna

In [330]:
"""
triple cots are used to mention the multiline strings and comments.
"""

'\ntriple cots are used to mention the multiline strings and comments.\n'

In [331]:
print('vamsi','krishna')

vamsi krishna

In [332]:
print('vamsi","krishn"')

vamsi","krishn"

In [333]:
'vamsi'+'vamsi'#concatinate the two or more strings

'vamsivamsi'

In [334]:
'vamsi' 'krishna'

'vamsikrishna'

In [335]:
#5times printing a string
'vamsi'*5

'vamsivamsivamsivamsivamsi'

In [336]:
'vamsi'*200

'vamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsivamsi'

In [337]:
'vamsi '*10#space between the words

'vamsi vamsi vamsi vamsi vamsi vamsi vamsi vamsi vamsi vamsi '

In [338]:
print('d:\nit')#\n is used to print new line.

d:
it

In [339]:
print(r"D:\nMatplotlib Cheatsheet - Scaler Topics.pdf")#here we mentioned r that means raw string.

D:\nMatplotlib Cheatsheet - Scaler Topics.pdf

In [340]:
2

2

In [341]:
x=2
x

2

In [342]:
x+3

5

In [343]:
y=3
y

3

In [344]:
x+y

5

In [345]:
x=9
x

9

In [346]:
x+y

12

In [347]:
x+10

19

In [348]:
_

19

In [349]:
19+1 #_ the underscore will store the previous result/output.

20

In [350]:
_

20

In [391]:
#string object

name='vamsi'

In [393]:
name+'krishna'

'vamsikrishna'

In [395]:
name+' krishna'

'vamsi krishna'

In [397]:
name 'krishna'

SyntaxError: invalid syntax (3888154697.py, line 1)

In [399]:
name name

SyntaxError: invalid syntax (3279511501.py, line 1)

In [401]:
'vamsi ' 'krisshna'

'vamsi krisshna'

In [403]:

name

'vamsi'

In [405]:
len(name)

5

In [407]:
#indexing
name[0]

'v'

In [409]:
name[2]

'm'

In [411]:
name[-1]

'i'

In [413]:
name[-2]

's'

In [415]:
#slicing

name[:]

'vamsi'

In [417]:
name[:2]

'va'

In [419]:
name[0:]

'vamsi'

In [421]:
name[:-1]

'vams'

In [423]:
name[2:-2]

'm'

In [425]:
name1='krishna'

In [427]:
name1[-1]

'a'

In [429]:
name1[-1:2:-1]

'anhs'

In [431]:
name[1]='l'#Strings are immutable

TypeError: 'str' object does not support item assignment

In [433]:
name1

'krishna'

In [435]:
 name='fine'

In [437]:
name

'fine'

In [439]:
name[1:]

'ine'

In [441]:
'd'+name[1:]

'dine'

# Python Operators

In [444]:
"""
Operators: 
 these are the special symbos used to do specific operations.
 
 -> we are having 5 types of operators.
    1-Arithmetic operators
    2-assignment operators
    3-relational operators
    4-logical operators
    5-unary operators
"""

'\nOperators: \n these are the special symbos used to do specific operations.\n \n -> we are having 5 types of operators.\n    1-Arithmetic operators\n    2-assignment operators\n    3-relational operators\n    4-logical operators\n    5-unary operators\n'

In [446]:
"""
Arithmetic Operators: these operators are used to perform addition, substraction, multiplication, division.
"""

'\nArithmetic Operators: these operators are used to perform addition, substraction, multiplication, division.\n'

In [456]:
x1,x2=5,20

In [458]:
x1+x2#addition

25

In [460]:
x1-x2#substraction

-15

In [462]:
x1*x2#multiplication

100

In [464]:
x1**2#power

25

In [466]:
x1/x2#float division

0.25

In [468]:
x1//x2#int division

0

In [470]:
x1

5

In [474]:
x1%2#Reminder

1

In [478]:
"""
Assignment Operators: these operators are used to assignment something to anything( to variables).
"""

'\nAssignment Operators: these operators are used to assignment something to anything( to variables).\n'

In [480]:
x=1#assigning 1 to x variable.

In [482]:
x=x+1#increasing 1 to the value in x variable.
x

2

In [484]:
x+=1#this is the alternate way for the above line.
x

3

In [487]:
x=x-1#decreasing 1 from the value in x variable.
x

2

In [489]:
x-=1#this is the alternate way for the above line.
x

1

In [491]:
x=x*1#multipling the value in x with 1
x

1

In [493]:
x*=1#the the alternate way for the above line
x

1

In [495]:
x/=3
x

0.3333333333333333

In [497]:
x//=1

In [499]:
x**=2

In [501]:
x

0.0

In [504]:
"""
Unary Operators: these are having only one operator.
"""

'\nUnary Operators: these are having only one operator.\n'

In [506]:
n=7
n

7

In [508]:
n=-(n)#it is also known as negation.
n

-7

In [510]:
"""
Relational Operators: these operators are used to get the relationship between two operands.
-> these operators will return the boolean values(True/False).
"""

'\nRelational Operators: these operators are used to get the relationship between two operands.\n-> these operators will return the boolean values(True/False).\n'

In [512]:
a,b=20,40

In [514]:
a

20

In [516]:
b

40

In [518]:
a<b#if the condition is satisfied then it will return True orelse it will return the False

True

In [520]:
a>b

False

In [522]:
a==b#a not equal's to b

False

In [524]:
a!=b#True, because a not equals to b

True

In [526]:
a=40

In [528]:
a==b

True

In [530]:
a,b

(40, 40)

In [532]:
a>=b

True

In [534]:
a<=b

True

In [536]:
a!=b

False

In [538]:
a<b

False

In [540]:
b<5

False

In [542]:
"""
Logical Operators: These operators are used to get the result based on more than one condition.
-> it will returns the boolean values (True/False)
-> we are having Logical AND, Logical OR, Logical Not. 

condition1  AND  condition2
True           True          =       True
False          False         =       False
True           False         =       False
False          True          =       False

condition1  OR  condition2
True           True          =       True
False          False         =       False
True           False         =       True
False          True          =       True


NOT - condition
True = False
False= True


"""

'\nLogical Operators: These operators are used to get the result based on more than one condition.\n-> it will returns the boolean values (True/False)\n-> we are having Logical AND, Logical OR, Logical Not. \n\ncondition1  AND  condition2\nTrue           True          =       True\nFalse          False         =       False\nTrue           False         =       False\nFalse          True          =       False\n\ncondition1  OR  condition2\nTrue           True          =       True\nFalse          False         =       False\nTrue           False         =       True\nFalse          True          =       True\n\n\nNOT - condition\nTrue = False\nFalse= True\n\n\n'

In [544]:
a,b=10,20
a,b

(10, 20)

In [548]:
"""
Logical Operators: These operators are used to get the result based on more than one condition.
-> it will returns the boolean values (True/False)
-> we are having Logical AND, Logical OR, Logical Not. 

condition1  AND  condition2
True           True          =       True
False          False         =       False
True           False         =       False
False          True          =       False

condition1  OR  condition2
True           True          =       True
False          False         =       False
True           False         =       True
False          True          =       True


NOT - condition
True = False
False= True


"""

'\nLogical Operators: These operators are used to get the result based on more than one condition.\n-> it will returns the boolean values (True/False)\n-> we are having Logical AND, Logical OR, Logical Not. \n\ncondition1  AND  condition2\nTrue           True          =       True\nFalse          False         =       False\nTrue           False         =       False\nFalse          True          =       False\n\ncondition1  OR  condition2\nTrue           True          =       True\nFalse          False         =       False\nTrue           False         =       True\nFalse          True          =       True\n\n\nNOT - condition\nTrue = False\nFalse= True\n\n\n'

In [550]:
a,b=10,20
a,b

(10, 20)

In [552]:
#and operator
"""
condition1  AND  condition2
True           True          =       True
False          False         =       False
True           False         =       False
False          True          =       False
"""

print(a>b,"AND",b>a,"=",a>b and b>a)
print(a<b,"AND",b<a,"=",a<b and b<a)
print(a<b,"AND",b>a,"=",a<b and b>a)
print(a>b,"AND",b<a,"=",a>b and b<a)

False AND True = False
True AND False = False
True AND True = True
False AND False = False

In [554]:
a,b

(10, 20)

In [556]:
#or operator
"""
condition1  OR  condition2
True           True          =       True
False          False         =       False
True           False         =       True
False          True          =       True
"""

print(a<b," or ", b>a," = ",a<b or b>a)
print(a>b," or ", b<a," = ",a>b or b<a)
print(a<b," or ", b<a," = ",a<b or b<a)
print(a>b," or ", b>a," = ",a>b or b>a)

True  or  True  =  True
False  or  False  =  False
True  or  False  =  True
False  or  True  =  True

In [558]:
a>b or b>a#False or True =True

True

In [560]:
#not operator
"""
NOT - condition
True = False
False= True
"""

'\nNOT - condition\nTrue = False\nFalse= True\n'

In [562]:
x=True
x

True

In [564]:
not x

False

In [566]:
not (not x)

True

In [568]:
#python operators are completed.

In [570]:
"""
number system: in number system we are having binary, octal, decimal, hexadecimal.
binary-(base 2)-->0, 1.
octal-(base 8)-->0,1,2,3,4,5,6,7.
decimal-(base 10)-->0,1,2,3,4,5,6,7,8,9.
hexadecimal-(base 16)-->0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F.
"""

'\nnumber system: in number system we are having binary, octal, decimal, hexadecimal.\nbinary-(base 2)-->0, 1.\noctal-(base 8)-->0,1,2,3,4,5,6,7.\ndecimal-(base 10)-->0,1,2,3,4,5,6,7,8,9.\nhexadecimal-(base 16)-->0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F.\n'

In [572]:

"""
2|21
____
2|10 1
____
2|5  0
____
2|2  1
____
 |1  0
 
from bottom, we have to combine the numbers -->10101.
"""
bin(21)#it will returns the binary form of 21.

'0b10101'

In [574]:
bin(55)

'0b110111'

In [576]:
"""
similarly octal is like
8|26
____
 |3  2
"""
oct(26)#so the octal form of 26 is 32

'0o32'

In [578]:
oct(25)

'0o31'

In [580]:
"""
we learnt the conversion of number to binary form and number to octal form

now
    conversion of binary to number
    ob11001 is?
    we know 
    2**4, 2**3, 2**2, 2**1, 2**0
    =>16,8,4,2,1
       1 1 0 0 1
    adding the 1's => 16+8+1=25
"""

print(0b11001)#it is internally converted.

25

In [582]:
int(0b11001)

25

In [584]:
#similarly 
oct(25)#number to octal

'0o31'

In [586]:
"""
0o31 is written as 3(8**1), 1(8**0)
                      3(8)+1(1) = 24+1=25
"""

int(0o31)#octal to number

25

In [588]:
#similarly for hexadecimal.
"""
16|25
_____
  |1  9
"""
hex(25)#so it is 0x19

'0x19'

In [590]:
"""
=1(16**1),9(16**0)
=1(16),9(1)
=16+9=25.
"""
int(0x19)#it is 25.

25

In [592]:
a

10

In [594]:
hex(a)

'0xa'

In [596]:
hex(b)

'0x14'

In [598]:
hex(c)

'0x6a'

# Swapping Two Variables

In [601]:
#Swapping:- it means exchanging the values of two variables together.

In [603]:
a=5
b=6

"""
Goal: if we print a and b, then a must show 6 and b must show 5.
"""

a=b
b=a
print('a=',a)
print('b= ',b)

a= 6
b=  6

In [607]:
#by doing above process we losed 5. So that process is not correct.

In [609]:
#to overcome this problem, we can use below ways.

In [613]:
#Using Third Variable

a=5
b=6

temp=a#third variable
a=b
b=temp
print('a=',a)
print('b= ',b)

a= 6
b=  5

In [617]:
"""
Q) Can we swap without using third variable?
A) Yes, We can.
"""

a=15
b=6

a=a+b
b=a-b
a=a-b

print('a=',a)
print('b= ',b)

a= 6
b=  15

In [621]:
#Another Way

#It is by using XOR Or Exclusive Or. It is represented by using ^.

#For better explanation refer the Notes.
a=10
b=5

a=a^b
b=a^b
a=a^b
print('a=',a)
print('b= ',b)

a= 5
b=  10

In [625]:
#Another Way
#easiest method
a=20
b=30

a,b=b,a
print('a=',a)
print('b= ',b)

a= 30
b=  20

In [629]:
#These swapping techniques are used to learn/use the python decorators.

"""
Q) Why we need to use python decorator?
A) In an organization, if we are doing an project, the pyhton decorator will plays an important.
"""

'\nQ) Why we need to use python decorator?\nA) In an organization, if we are doing an project, the pyhton decorator will plays an important.\n'

In [ ]:
"""
Bitwise Operators:
-These are the special symbols that are used to perform some specific operations.
-In bitwise operators, we are having 6 operators
   1-complement(~)
   2-bitwise Or(|)
   3-bitwise And(&)
   4-XOR(^)
   5-bitewise leftshift(<<)
   6-bitewise Rightshift(>>)
"""