In [35]:
#by using the slicing we can able to get the list elements in reverse order also
print(a)
a[::-1]#this reverse order with not save in memory

['start', 456, 789, 10.562, (5+0j), True, 'end']

['end', True, (5+0j), 10.562, 789, 456, 'start']

In [36]:
#reverse: this function is used to reverse the elements in a list and save in the memory.
print(a)
a.reverse()
print(a)

['start', 456, 789, 10.562, (5+0j), True, 'end']
['end', True, (5+0j), 10.562, 789, 456, 'start']

In [37]:
#sort:- this function is used to sort the list in ascending or desending order.
#by default this function will arrange the elements in assending order.
a=[1,10,25,3,56,65,65,32+5,56,98,2,0]
a.sort()#parameter tunning: it means the system will pass the default parameters to the program.
#here system passes by default ascending order.
a.remove(56)
a=a.copy()
a.sort(reverse=True)#this is hyperparameter tunning, it means user will pass the parameters according to requirment.
a

[98, 65, 65, 56, 37, 25, 10, 3, 2, 1, 0]

In [38]:
a=['vamsikrishna','anitha','pavan','vinay','seeta','ramya']
a.sort()#parameter tunning
print(a)
a.sort(reverse=True)#hyperparameter tunning
print(a)
#to sort the elements in a list, the list must contain similar datatype elements.
#we can able to know wether a particular element contains in list or not.
#example
print('vamsikrishna' in a)#if it is there it returns True or else False.
print('ANITHA' in a)

['anitha', 'pavan', 'ramya', 'seeta', 'vamsikrishna', 'vinay']
['vinay', 'vamsikrishna', 'seeta', 'ramya', 'pavan', 'anitha']
True
False

In [39]:
l=[0,1,2,3,4,5,6,7,8,9]
print(l[:])
print(l[0:])
print(l[:5])
print(l[2:6])
print(l[::-1])
print(l[1:6:1])
print(l[-1:-5:-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[2, 3, 4, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[1, 2, 3, 4, 5]
[9, 6]

In [40]:
#we can able to add one list to another list by using arthematic operator (+)

s=l+[10,20,30]
print(s)
del l[0]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
#enumerate(): it returns the list items with index positions like key value pairs
for i in enumerate(s):
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)
(10, 10)
(11, 20)
(12, 30)

In [42]:
"""any() and all() functions: 
                            all() function returns True if all the elements in the list are True
                            any() function returns True if any element in the list is True
        
"""
l=[1,1,0]
print(all(l))
print(any(l))

False
True