In [1]:
"""Tuple:
    -the tuple is datastructure in python.
    -it is collection  of sequencial datatypes.
    -it is reresented with ().
    -slicing and indexing are performed in tuples also.
    -only two functions(count & index) supports in tuples.
    """
t=()
type(t)

tuple

In [2]:
#count(): this function returns the no of times that an element can repeated in a tuple.
t=(1,2,3,4,5,6,7,6)
print(t.count(6))

#index(): this function returns the index value of the particular element.
print(t.index(7))
print(t[0])

2
6
1

In [3]:
#tuples are immutable i.e we can't change the elements in the tuple.
#example
t[5]=8

TypeError: 'tuple' object does not support item assignment

In [4]:
#tuples allows duplicate elements
#example
t=(1,1,1)
t

(1, 1, 1)

In [5]:
#use del to delete the tuple
del t
t

NameError: name 't' is not defined

In [6]:
t=("vamsi\"krishna\"")#double cots inside the double cots does not works, its gives error. to overcome it by using \"backslace"   
t

'vamsi"krishna"'

In [7]:
t=('vamsikrishna',5,55,987,'pavan',"vinay",[1,2,3,4])#tuple allows hetrogenious datatypes.
print(t[0][1:])
print(t[4])
t[6][0]=5
print(t[6])
t[6]=5#tuples are immutabe

amsikrishna
pavan
[5, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment

In [8]:
#tuple inside the tuple
t=(1,2,3,5,8,(8,9,7,6,5,4,(0,0,0,0,0,)))
t[5][6]

(0, 0, 0, 0, 0)

In [9]:
a,b="vamsi",5
print(b+5)
#here we are using b+5, it internally become like int.__add__(b+5) 
#example

a=10
b=30
print(int.__add__(a,b))
#similarly
print(int.__sub__(a,b))
print(int.__mul__(a,b))
#all the above are the magic methods in python.
#whenever we using +/-/* it internally uses the magic methods.

10
40
-20
300

In [10]:
"""
Constructor:
    -it is a special method in python.
    -it allocates the memory for identifiers/variabes in the ram.
    -we are having a speciAL constructor in python i.e __init__
"""

'\nConstructor:\n    -it is a special method in python.\n    -it allocates the memory for identifiers/variabes in the ram.\n    -we are having a speciAL constructor in python i.e __init__\n'

In [11]:
#tuple slicing:
t=(1,2,3,4,5,6,7,6)
print(t[:])
print(t[0:5])
print(t[5:5])
print(t[4:5])
print(t[0:6:2])
print(t[0:6:3])
print(t[0:-2:3])

(1, 2, 3, 4, 5, 6, 7, 6)
(1, 2, 3, 4, 5)
()
(5,)
(1, 3, 5)
(1, 4)
(1, 4)

In [12]:
#range(): it is a predefined function in python. 
#it is used to generate the sequence of number in list or tuple.
range(5)

range(0, 5)

In [13]:
r=list(tuple(range(6,50)))
print(r)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [14]:
r=list(tuple(range(6,50,5)))#steper value.
print(r)

[6, 11, 16, 21, 26, 31, 36, 41, 46]

In [15]:
for i in enumerate(r):
    print(i)

(0, 6)
(1, 11)
(2, 16)
(3, 21)
(4, 26)
(5, 31)
(6, 36)
(7, 41)
(8, 46)

In [16]:
#tuple sorting
l=tuple(range(0,50,7))

print(type(l))
#sorted function is used to sort the tuples and also lists, but it's not saved in memory.
print(sorted(l))#by default ascending order
print(sorted(l,reverse=True))#hyper parameter tunning

<class 'tuple'>
[0, 7, 14, 21, 28, 35, 42, 49]
[49, 42, 35, 28, 21, 14, 7, 0]

In [17]:
"""
Set data structure:
                    it is the datastructure in python.
        -it is represented with {}.
"""
#example:
s={5,}
print(type(s))

<class 'set'>

In [18]:
#if we store only homogenious data in the set, then it stored them in sorted.
#example:
s={1,8,6,2,3,0,7,5}
print(s)#it stored in ascending order

{0, 1, 2, 3, 5, 6, 7, 8}

In [19]:
#set does'nt allows the duplicates
#example

s={5,5,5,5,6,7,7,9}
s
#if we stored the hetrogenious elements in a set, then it will not stored in ordered format.

{5, 6, 7, 9}

In [20]:
"""
add(): add is a predefined function in python.
    -it is a parameterized function that means it allows arguments. 
    -it alows only one parameter.
    -it is used to insert an element into the set.
"""
#example:

s={1,2,3.8+5j,4,5,7,"vamsi"}
s.add(10)
s.add(9)
print(s)

{1, 2, 4, 5, 7, 9, 10, (3.8+5j), 'vamsi'}

In [21]:
#copy(): it is the inbuilt function in python.
        #-it is used to copy the set and assigned it to another variable/identifier.
#example
s={4,9,2,0,67,9,5,9}
print(s)
ss=s.copy()
print(ss)
print(id(s),"\n",id(ss))#in sets, eventhough the values are same but id's are different.

{0, 2, 67, 4, 5, 9}
{0, 2, 67, 4, 5, 9}
1743512286400
 1743512285952

In [22]:
#clear(): it is used to clear the elements in the set.
print(s)
s.clear()
print(s)
del ss#we can abe to delete set by using del
ss

{0, 2, 67, 4, 5, 9}
set()

NameError: name 'ss' is not defined

In [23]:
#remove(): it is used to remove a specific element in the set.
#example:
s=set(range(6,80,5))
print(s)
print(71 in s)
s.remove(71)
print(s)

{66, 36, 6, 71, 41, 11, 76, 46, 16, 51, 21, 56, 26, 61, 31}
True
{66, 36, 6, 41, 11, 76, 46, 16, 51, 21, 56, 26, 61, 31}

In [24]:
#pop(): it is used to remove and return the arbitrary element in the set.
#arbitrary element means random element.
#pop in list allows the index position as argument but pop in sets does'nt allows arguments.  
print(s)
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())

{66, 36, 6, 41, 11, 76, 46, 16, 51, 21, 56, 26, 61, 31}
66
36
6
41
11

In [25]:
print(s)
76 in s#finding spesific element in a set

{76, 46, 16, 51, 21, 56, 26, 61, 31}

True

In [26]:
#update(): it is used to insert multiple elements to a set.
#it always accept only iteratetable element(i.e lists, tules, sets)
s.update([1,2,3])
s.update(range(10,15,2))
s1=list(range(100,150)[-1:-25:1])
s.update(s1)
s

{1, 2, 3, 10, 12, 14, 16, 21, 26, 31, 46, 51, 56, 61, 76}

In [27]:
#discard(): it is used to remove an element from a set.
#if the required elements present in the set, then it will remove. If the element is not present then also we wil not get any error  
#it is similar to remove() in lists. But if the required element is not present in the list then we will get an error
s.discard(100)
s.discard(12)
s.discard(26)
s

{1, 2, 3, 10, 14, 16, 21, 31, 46, 51, 56, 61, 76}

In [32]:
#Set operations

#-> Union: it means all the elements in all sets
#in python the union is represented with single pipe " | "
#example

s={1,2,3}
a={6,7,8}
b={10,20,30}
print(s|a|b)

#union(): this function is alternate to find the union of the sets
#it is a predefined function in set data structure

print(s.union(a))
print(s.union(a,b))#we can give any number of sets as parameters.
s.update(a,b)#we can also preform the above thing by using update()
s

{1, 2, 3, 6, 7, 8, 10, 20, 30}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8, 10, 20, 30}

{1, 2, 3, 6, 7, 8, 10, 20, 30}

In [33]:
#Intersection:  it means commmon elements of the sets.
#in python the intersection is represented with AND symbol " & ".

#example

a={1,2,3,4,5}
b={3,4}
c={1,4,8,9}

print(b&a)
print(a&b&c)
#same thing we can able to perform by using intersection()

print(b.intersection(a))
print(a.intersection(b,c))

{3, 4}
{4}
{3, 4}
{4}

In [34]:
#difference: it means substracting elements from a set based on another set/sets
#example

a={1,2,3,4,6,7}
b={1,5,3,58,6}
c={7,}
print(a-b)
#same thing we can able to perform by using difference()
a.difference(b,c)

{2, 4, 7}

{2, 4}

In [35]:
#symmetric difference: it means getting non common elements from the sets.
#it is represents with " ^ ".
#example:
 
a={4,5,6,78,8,9}
b={4,78,8}
c={8}
print(a^b^c)
#same thing we can able to perform by using symmetric_difference()

print(a.symmetric_difference(b))

{8, 9, 5, 6}
{5, 6, 9}